@model RazorWeb.Models.Cliente

@{
    ViewData["Title"] = "Create";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>

<h1>Create</h1>
<br />
<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*   <div class="form-group">
            <label asp-for="ClienteId" class="control-label"></label>
            <input asp-for="ClienteId" class="form-control" />
            <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label type="file" asp-for="LogoTipoFile" class="control-label"></label>
                <input asp-for="LogoTipoFile" class="form-control" />
                <span asp-validation-for="LogoTipoFile" class="text-danger"></span>
                <img asp-for="LogoTipoFile" class="img-responsive" alt="" />

            </div>

            @*     <div class="form-group">
            @Html.LabelFor(m => m.LogoTipoFile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            @Html.TextBoxFor(m => m.LogoTipoFile, new { type = "file", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LogoTipoFile, "", new { @class = "text-danger" })
            </div>
            </div> *@

            <br />
            <h4>Logradouro</h4>
            <br />

            <div class="form-group">
                <label>Nome da Rua</label>
                <input id="Logradouros[0].NomeRua" name="Logradouros[0].NomeRua" type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label>Número</label>
                <input id="Logradouros[0].Numero" name="Logradouros[0].Numero" type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label>Bairro</label>
                <input id="Logradouros[0].Bairro" name="Logradouros[0].Bairro" type="text" class="form-control" />
            </div>

            <br />

            <button id="btnAddLogradouro" type="button" class="btn btn-primary">Adicionar</button>

            <button id="removerConteudo" type="button" class="btn btn-danger">Exluir</button>


            </br>

            <div id="divLogradouro" class="form-group">
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnAddLogradouro").click(function () {
            let i = $('#divLogradouro')[0].childElementCount;
            i++;

            if (i > 2) {

                i--;

                $('#divLogradouro')
                    .append('<br><div name="logradouros">' +
                        '<div class="form-group" id="divLogradouro">' +
                        '<label>Nome da Rua</label></br><input id="Logradouros[' + i + '].NomeRua") name = "Logradouros[' + i + '].NomeRua" type = "text"  class="form-control"/></div>' +
                        '<div class= "form-group"><label>Número</label></br><input id="Logradouros[' + i + '].Numero") name = "Logradouros[' + i + '].Numero" type = "text"  class="form-control"/></div>' +
                        '<div class= "form-group"><label>Bairro</label></br><input id="Logradouros[' + i + '].Bairro") name = "Logradouros[' + i + '].Bairro" type = "text"  class="form-control" /></div><br>' + '<button id="removerConteudo" type="button" class="btn btn-danger">Exluir</button>');
                $('#divLogradouro').show();


            } else {

                $('#divLogradouro')
                    .append('<br><div name="logradouros">' +
                        '<div class="form-group" id="divLogradouro">' +
                        '<label>Nome da Rua</label></br><input id="Logradouros[' + i + '].NomeRua") name = "Logradouros[' + i + '].NomeRua" type = "text"  class="form-control"/></div>' +
                        '<div class= "form-group"><label>Número</label></br><input id="Logradouros[' + i + '].Numero") name = "Logradouros[' + i + '].Numero" type = "text"  class="form-control"/></div>' +
                        '<div class= "form-group"><label>Bairro</label></br><input id="Logradouros[' + i + '].Bairro") name = "Logradouros[' + i + '].Bairro" type = "text"  class="form-control" /></div><br>' + '<button id="removerConteudo" type="button" class="btn btn-danger">Exluir</button>');
                $('#divLogradouro').show();

            }

            // $(document).on("click", "#removerConteudo", function () {
            //     $(this)
            //         .closest("#divLogradouro")
            //         .remove();

            $("#removerConteudo").click(function () {
                debugger;

                $('#divLogradouro').empty();
                // $(this).closest("#divLogradouro")
                //     .remove();

            });
        });
    });

    // $(document).ready(function () {
    //     // cópia da div com os inputs

    //     var clone_step1 = $("#step1")
    //         .find(".duplicar-presencial")[0].outerHTML;

    //     $(document).on("click", ".add-presencial", function (e) {
    //         $("#step1")
    //             .append(clone_step1); // insere nova linha
    //     });

    //     $(document).on("click", ".del-presencial", function () {
    //         $(this)
    //             .closest(".duplicar-presencial")
    //             .remove();
    //     });

    // });

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}


